# Ignorer le dossier SIG complet
SIG/

# Ignorer l'environnement R
.RData
.Rproj.user/
.Rhistory
app/.Rhistory

# Ignorer les très gros exports si besoin (à toi de voir si tu veux garder cette ligne)
GPKG_Sortie/